*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body{
    font-family: "Josefin Sans", sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 40px;

    /* Transparent background */
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(19px);

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav ul{
    display: flex;
    list-style: none;
    width: 100%;
   
}
nav ul li{
    padding: 15px 30px;
}
nav ul li a{
    text-decoration: none;
    color: rgb(250, 247, 250);
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease;
}
a:hover{
    color: aqua;
}
.links{
    display: flex;
    align-items: center;
    padding-right: 20px;
 
}
.image{
    display: flex;
    padding-left: 20px;
    align-items: center;
}
.image img{
    width: 100px;
    height: auto;
}
.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    color: white;
    text-align: center;
    margin-top: 100px;
    background-color: #0a0a0a;
}
.hero-text h1{
    font-size: 48px;
    margin-bottom: 20px;
    padding: 10px 40px;
    color: aqua;
}
.hero-text p{
    font-size: 24px;
    margin-bottom: 40px;
}
.hero-text button{
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(0, 123, 255);
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}
.hero button:hover{
    background-color: rgb(0, 105, 217);
}
footer{
    text-align: center;
    padding: 20px;
    background-color: rgb(33, 33, 33);
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
footer p{
    font-size: 16px;
}
footer a{
    color: rgb(0, 123, 255);
    text-decoration: none;
}
