*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
   /* Default Light Theme */
/* Light theme */

:root{
   --hamburger-color: #000;
}
body {
  --bg-color: #ffffff;
  --text-color: #000000;
  --button-bg: #00bcd4;
  --button-text: #ffffff;
  --card-bg: #f9f9f9;
}

/* Dark theme */
body.dark-theme {
  --bg-color: #111111;
  --text-color: #f5f5f5;
  --button-bg: #009bbf;
  --button-text: #ffffff;
    --hamburger-color: #fff;
  --card-bg: #1e1e1e;
}

button {
  background-color: var(--button-bg);
  color: var(--button-text);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
}


.neon {
  color: #0ff;
  text-shadow:
    0 0 5px #0ff,
    0 0 10px #0ff,
    0 0 20px #0ff,
    0 0 40px #0ff;
}
.typing {
  font-size: clamp(1.5rem, 5vw, 3.5rem); /* Responsive */
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid #0ff;
  width: 0;
  animation: typing 6s steps(22) infinite;
}
@keyframes typing {
  0% {
    width: 0;
  }
  40% {
    width: 22ch;   /* fully typed */
  }
  60% {
    width: 22ch;   /* pause */
  }
  100% {
    width: 0;      /* delete */
  }
}
.typing {
  animation:
    typing 6s steps(20) infinite,
    blink 0.8s step-end infinite;
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}



.neon-icon:hover {
  background: #0ff;
  box-shadow:
    0 0 5px #0ff,
    0 0 15px #0ff,
    0 0 30px #0ff;
}
#menu {
  transition: opacity 0.3s ease, transform 0.3s ease;
}
#menu.opacity-0 {
  transform: translateY(-10px);
}
#menu.opacity-100 {
  transform: translateY(0);
}

